<%- include('header.ejs') %>
<div class="page-wrapper">
    <div class="page-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Company</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Company</li>
                    </ol>
                </nav>
            </div>
            <div class="ms-auto">
                <div class="btn-group">
                    <a href="/addcompany" class="btn btn-primary">Add</a>
                </div>
            </div>
        </div>
        <!--end breadcrumb-->
        <h6 class="mb-0 text-uppercase">Company</h6>
        <hr/>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example2" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Uique Id</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Contact</th>
                                <th>Address</th>
                                <th>Create Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(records.length > 0) {
            
                                records.forEach(function(record,i){ %>
                            <tr>
                                <td><%= i+1 %></td>
                                <td><%= record.company_id %></td>
                                <td><%= record.name %></td>
                                <td><%= record.email %></td>
                                <td><%= record.contact %></td>
                                <td><%= record.address %></td>
                                <td><%= moment(record.create_date).format('MMMM Do YYYY, h:mm:ss a') %></td>
                                <td>
                                    <a href="editCompany/<%= record.id %>" style="margin-right: 5px;">
                                        <i class="lni lni-pencil-alt"></i>
                                    </a>
                                    <a>
                                        <i class="lni lni-trash delete" id="<%= record.id %>"></i>
                                    </a>
                                </td>
                            </tr>
                            <%  });

                        } %>
                        </tbody>
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('footer.ejs') %>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    // function deletedata(id)
    $(document).on('click', '.delete', function() 
    {
        var id = $(this).attr('id');
        //alert(id);
        swal({
            title: "Are you sure want to delete this?",
            //text: "Once deleted, you will not be able to recover this imaginary file!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    url: '/deleteCompany',
                    method: "post",
                    data: {id:id},
                    success: function(response) {
                        if(response == 'success'){
                            location.reload();
                        }
                        else
                        {
                            swal({
                                title: "Please try again",
                                //text: "Once deleted, you will not be able to recover this imaginary file!",
                                icon: "warning",
                                // buttons: true,
                                // dangerMode: true,
                            })
                        }
                    }            
                });
            }
        });

    });
</script>